#root {
  max-width: 100%;
  text-align: center;
  --primary-green: #1E824C;
  --accent-mint: #A9DFBF;
  --deep-forest: #145A32;
  --vibrant-cta: #2ECC71;
  --soft-gray: #F2F4F4;
  --text-gray: #555555;
  --white: #FFFFFF;
   /* Font families */
  --font-sans: 'Poppins', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --font-cursive: 'Pacifico', cursive;
  --font-display: 'Oswald', sans-serif;
    /* Sharp, modern fonts */
  --font-roboto: 'Roboto', sans-serif;          /* Clean and professional */
  --font-open-sans: 'Open Sans', sans-serif;   /* Sharp readability */
  --font-ubuntu: 'Ubuntu', sans-serif;         /* Strong edges, modern */
  --font-inter: 'Inter', sans-serif;           /* Popular UI font, crisp */
  --font-pt-sans: 'PT Sans', sans-serif;      /* Angular, professional */
  --font-work-sans: 'Work Sans', sans-serif;   /* Minimal & sharp */
  --font-lato: 'Lato', sans-serif;            /* Slightly rounded but sharp */
  --font-exo: 'Exo 2', sans-serif;             /* Techy and angular */
}
/* .css-vycme6-MuiPickersInputBase-root-MuiPickersOutlinedInput-root{
  height: 40px;
    border-radius: 7px;
} */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spinner[type="number"] {
    -moz-appearance: textfield;
}
select {
  border-radius: 5px !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select option {
 color:#000;
 background-color:#fff;
}
.custm_color:disabled {
  background-color: #f3f4f6 !important;
  color: #38393a !important;
  cursor: not-allowed;
  opacity: 1;
}
.edit_calc input[type="text"],[type="number"]:disabled {
  background-color: #f3f4f6 !important; 
  color: #38393a !important;           
  opacity: 1;                         
  cursor: not-allowed;
}