@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-sans;
}

:root {
  --primary-green: #1E824C;
  --accent-mint: #A9DFBF;
  --deep-forest: #145A32;
  --vibrant-cta: #2ECC71;
  --soft-gray: #F2F4F4;
  --text-gray: #555555;
  --white: #FFFFFF;
}
